.row
  .small-12.columns
    %h1.subheader Calc-TDD
.row
  .small-8.columns
    #display 0
  .small-4.columns
.row
  .small-2.columns
    #d7.digit.button.radius.small 7
  .small-2.columns
    #d8.digit.button.radius.small 8
  .small-2.columns
    #d9.digit.button.radius.small 9
  .small-2.columns
    #op.operator.button.radius.small.success +
  .small-4.columns
.row
  .small-2.columns
    #d4.digit.button.radius.small 4
  .small-2.columns
    #d5.digit.button.radius.small 5
  .small-2.columns
    #d6.digit.button.radius.small 6
  .small-2.columns
    #on.operator.button.radius.small.success -
  .small-4.columns
.row
  .small-2.columns
    #d1.digit.button.radius.small 1
  .small-2.columns
    #d2.digit.button.radius.small 2
  .small-2.columns
    #d3.digit.button.radius.small 3
  .small-2.columns
    #om.operator.button.radius.small.success *
  .small-4.columns
.row
  .small-2.columns
    #d0.digit.button.radius.small 0
  .small-2.columns
    #dp.digit.button.radius.small .
  .small-2.columns
    #calculate.button.radius.small =
  .small-2.columns
    #od.operator.button.radius.small.success /
  .small-4.columns
.row
  .small-2.columns
    #clear.button.radius.small.alert c
  .small-10.columns
